<!DOCTYPE html>
<html>
  <head>



    <title>Erion Technologies</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="estilos/style.css" rel="stylesheet" type="text/css">
    <meta charset="utf-8">

  </head>

  <body>

    <h>ERION TECHNOLOGIES</h>



    <p>AUTOMATIZACION Y CONTROL</p>
    <p>En Erion, somos una comunidad de</p>

    <img src = "images/montaje-logo.jpg" alt = "erion">
    <ul>
      <li>tecnólogos</li>
      <li>pensadores</li>
      <li>constructores</li>
      <li>automatizadores</li>
      <li>lideres</li>

    </ul>

    <p>trabajando juntos... </p>

    <a href="http://bicefalobranding.mx/portafolio/erion-technologies/">Erion Technologies</a>



    <%= yield %>



  </body>
</html>
